<div class="w-100 bg-success">
    <img src="{{getFirstImageURL images}}" class="" />

    <footer class="bg-body d-flex flex-column align-items-start p-4">
        <h2>{{fullName}}</h2>
        <p class="park-description">{{shortenDescription description}}</p>

        <div class="w-100 d-flex justify-content-center gap-4 px-4">
            <button id="add-to-visited" class="btn btn-primary" title="Add to visited" data-park-code="{{parkCode}}">
                Add to visited
            </button>

            <button class="btn btn-primary" title="Add to wishlist" id="add-to-wishlist" data-park-code="{{parkCode}}">
                Add to wishlist
            </button>
        </div>
    </footer>

</div>

<style>
    img {
        height: 300px;
        width: inherit;
        object-fit: cover;
    }

    .icon {
        height:
            25px;
    }
</style>